*{
	margin: 0;
	padding: 0;
}
#E {
	border-bottom: 1px solid grey;
	padding: 2pt 0pt 10pt;
}

.M {
	padding: 6pt 10pt;
	width: 40px;
	height: 40px;
	position: relative;
	left: 16%;
	padding: 8pt 10pt;
	float: left;
}

.Sign {
	font-size: 12pt;
	color: purple;
	background-color: transparent;
	border-color: transparent;
	text-align: center;
	margin-left: 3pt;
	padding: 8pt 8pt;
	position: relative;
	left: 70%;
	margin-top: 6pt;
	margin-bottom: 6pt;


}

.Get {
	font-size: 12pt;
	color: purple;
	background-color: transparent;
	border-radius: 5pt;
	border-color: purple;
	text-align: center;
	margin-left: 3pt;
	padding: 8pt 8pt;
	position: relative;
	left: 70%;
	margin-top: 6pt;
	margin-bottom: 6pt;

}


#navigation {
	box-shadow: 0px 1px 8px #aaa;
	padding: 4pt 0pt 0pt; 
	margin-bottom: 25pt;
}

#one {
	
	width: 140px;
	height: 40px;
	position: absolute;
	margin-left: 16%;
	

}

.consumer {
		color: grey;
		font-size: 11pt;
		font-family: arial;
		display: inline-block;
		border: 2PX solid transparent;
		position: relative;
		left: 20%;
		text-align: center;
		padding: 4pt 10pt;
			

}

h1 {
	position: relative;
	left: 29%;
	margin-bottom: 5pt;


	}

h2 {
	position: relative;
	left: 29%;
	margin-bottom: 15pt;
}


#harry {

	border-radius: 400pt;
	height: 60pt;
	position: relative;
	left: 29%;
}

.gui {
	font-size: 13pt;

	position:absolute;
	top:35%;
	left:35%;

}

.jul {
	font-size: 13pt;
	color: #aaa;
	position:absolute;
	top: 38%;
	left:35%;
}



#f {
	position: absolute;
	top: 35%;
	left: 42%;
	color: purple;
	background-color: transparent;
	border-radius: 5pt;
	border-color: purple;
	text-align: center;
	padding: 1pt 10pt 1pt 10pt;

}

#paradise {
		display: block;
		height: 850px;
		margin: auto;
		margin-top: 40pt;
}
.credit {
	text-align: center;
	margin-top: 10pt;
	margin-bottom: 50pt;
}

#exp {
	font-family: 'Crimson Text', serif;
	margin: auto;
	width: 600pt;
	font-size: 20pt;
}

h3 {
	font-size: 20pt;
	font-family: 'Montserrat', sans-serif;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

#exp p {
	margin-bottom: 25pt;
}

.y {
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 60pt;
	color: white;
	border-radius: 1px solid transparent;
	background-color: black;
	border-radius: 50%;
	padding: 10pt 25pt 10pt 25pt;
	margin-right: 15pt;
}

a {
	color: black;
}

.cit {
	display: block;
	margin: auto;
	font-style: italic;
	width: 85%;
}

.Gonan {
	font-weight: bold;
}

.zefo {
	position: absolute;
	top: 150%;
	left: 15%;
	border-bottom: 1px solid grey;

}


.ze {
	height: 23px;
	margin-bottom: 5pt;



}

.th {
	width: 100pt;
	font-size: 12pt;
	margin-bottom: 15pt;
}

.fo {
	color: purple;
	background-color: transparent;
	border-radius: 5pt;
	border-color: purple;
	text-align: center;
	padding: 5pt 12pt 5pt 12pt;
	margin-bottom: 25pt;


}

.cl {
	position: absolute;
	top: 175%;
	left: 14%;

}
.ap{
	position: absolute;
	top: 5%;
	left: 75%;
	padding: 5pt 12pt 5pt 12pt;

}
.cbtf {
	width: 25px;
	padding: 5pt 12pt 5pt 12pt;
	display: flex;
	flex-direction: column;
}

.travel{

}

.digi {
	color: black;
	font-size: 12pt;
	display: inline-block;
	background-color: #aaa;
	border: 1PX solid transparent;
	border-radius: 5%;
	position: relative;
	left: 28%;
	text-align: center;
	padding: 5pt 12pt;
	margin-top: 30pt;
	margin-bottom: 35pt;



}

.travel {

	border-bottom: 1px solid grey;
	
	
}

.p1 {

	margin-top: 10pt;

}

#harry2 {
	border-radius: 50%;
	height: 45pt;
	position: relative;
	left: 28%;
}

#hg {
	font-size: 14pt;
	position: absolute;
	left: 32%;
	bottom: -681%;
	

}

#mm {
	margin-top: 10pt;
	width: 9%;
	color: grey;
	position: absolute;
	left: 32%;
	bottom: -686%;

}

#tesco {
	width: 5%;
	position: absolute;
	left: 32%;
	bottom: -693%;

}

.fol1 {
	position: absolute;
	left: 43%;
	bottom: -683%;
	font-size: 12pt;
	color: purple;
	background-color: transparent;
	border-radius: 5pt;
	border-color: purple;
	text-align: center;
	margin-left: 3pt;
	padding: 6pt 12pt;

}

#oz {

	height: 45pt;
	border-radius: 5%;
	position: absolute;
	left: 51%;
	bottom: -685%;

}

#onez {

	height: 18pt;
	position: absolute;
	left: 55%;
	bottom: -681%;

}


.thf {
	width: 9%;
	font-size: 13pt;
	position: absolute;
	left: 55%;
	bottom: -691%;

}

.fol2 {
	position: absolute;
	left: 68%;
	bottom: -683%;
	font-size: 12pt;
	color: purple;
	background-color: transparent;
	border-radius: 5pt;
	border-color: purple;
	text-align: center;
	margin-left: 3pt;
	padding: 6pt 12pt;

}

section {
		margin-top: 150pt;
}


#foot {
	margin-left: 10pt;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	
	
	
	
}

.amali {
	height: 90pt;
	
	}
